.cache
.local
auto-save-list
backup
devdocs
elpa
elpaca
eshell
games
multisession
transient
tutorial
url
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
amx-items
bookmarks
projectile-bookmarks.eld
projects
recentf
session
persp-confs
tldr
amx-items
smex-items
.tutor
projectile-bookmarks.~
